@model IEnumerable<Dominio.Usuario>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ci)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Password)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Rol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ci)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Rol)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { ci=item.Ci }) |
            @Html.ActionLink("Details", "Details", new { ci = item.Ci }) |
            @Html.ActionLink("Delete", "Delete", new { ci = item.Ci })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back", "Index", "Home")
</div>